/* Nord colors for Rofi */
*
{
    bg-col:        #2e3440;
    bg-col-light:  #3b4252;
    selected-col:  #434c5e;
    border-col:    #81a1c1;
    blue:          #81a1c1;
    fg-col2:       #88c0d0;
    fg-col:        #d8dee9;
    grey:          #4c566a;
}

