[Unit]
Description=Trackpoint Scroll Emulation and Key Mapper
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/saeedul/trackpoint_space_scroll.py
Restart=always
RestartSec=2
User=root

[Install]
WantedBy=multi-user.target
