[Desktop Entry]
Version=1.0
Type=Application
Name=Android Studio
Icon=/home/saeedul/Downloads/android-studio-quail1-linux/android-studio/bin/studio.svg
Exec="/home/saeedul/Downloads/android-studio-quail1-linux/android-studio/bin/studio" %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-studio
StartupNotify=true
