[Desktop Entry]
Name=Ollama Nexus
Comment=Local Graphical Client for Ollama
Exec=/home/saeedul/ollama-gui/start.sh
Icon=network-server
Terminal=false
Type=Application
Categories=Development;Utility;ArtificialIntelligence;
StartupNotify=true
